:root {
    --color-0: #f6f6f6;

    --color-0: #f2fbf2;
    --color-1: #e2f7e1;
    --color-2: #c4eec5;
    --color-3: #95e096;
    --color-4: #60c862;
    --color-5: #40bf43;
    --color-6: #2b8e2d;
    --color-7: #257027;
    --color-8: #225924;
    --color-9: #1d4a1f;
    --color-10: #0b280d;

    --color2-1: #fcf9c5;
    --color2-2: #faf08e;
    --color2-3: #f8e45c;
    --color2-4: #f3cf1c;
    --color2-5: #e3b60f;
    --color2-6: #c48e0a;
    --color2-7: #9c650c;
    --color2-8: #815012;
    --color2-9: #6e4215;
    --color2-10: #402208;

    --colorn-1: #e7e7e7;
    --colorn-2: #d1d1d1;
    --colorn-3: #b0b0b0;
    --colorn-4: #888888;
    --colorn-5: #6d6d6d;
    --colorn-6: #5d5d5d;
    --colorn-7: #4f4f4f;
    --colorn-8: #454545;
    --colorn-9: #3d3d3d;
    --colorn-10: #1e1e1e;

}

html {
  scroll-behavior: smooth;
}

* {
    font-family: sans-serif,Arial;
}
p {
    text-align: justify;
    font-size: 20px;
}

#start {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
    z-index: -2;
}
#start img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    filter: brightness(60%);
}
#start h1 {
    height: 50%;
    width: 100%;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: var(--color-0);
}

body  {
    margin: 0;
    padding: 0;
    background-color: var(--colorn-1);
}

header {
    padding: 30px;
    color: var(--color-0);
    font-weight: 600;
    background-color: var(--colorn-10);
    height: auto;
    width: 100%;
    gap: 100px;
    position: fixed;
    z-index: 10;
}
header a {
    text-decoration: none;
    color: var(--color-0);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#introduccion,#metodologia,#resultados,#conclusiones {
    scroll-margin-top: 80px;
}

#maininfo {
    display: flex;
}

#degradado {
    z-index: -1;
    width: 100%;
    box-shadow: 0 -5px 25px 35px var(--colorn-1);
    margin-bottom: 20px;
    position: relative;
}
.titletext,.tecnica {
    z-index: 1;
    position: relative;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 9px rgba(155, 155, 155, 0.459);
    overflow: hidden;
}
.titletext p h2 {
    z-index: 3;
}

#tecnicas {
    display: flex;
}

.tecnica img{
    width: 100%;
}
#biobalistica {
    border-style: solid;
    border-color: var(--colorn-3);
    border-width: 1px;
    background-color: var(--colorn-2);
}
#crispr {
    border-style: solid;
    border-color: var(--colorn-4);
    border-width: 1px;
    background-color: var(--colorn-3);
}
#hibridacion {
    border-style: solid;
    border-color: var(--colorn-2);
    border-width: 1px;
    background-color: var(--colorn-1);
}

#decor {
    width: 180px;
    height: 180px;
    position:absolute;
    top: 50%;
    left: 60%;
    border-radius: 50%;
    background-color: var(--color-2);
    z-index: -1;
    box-shadow:
        0 0 0 1px var(--color-3),
        0 0 0 70px var(--color-2),
        0 0 0 71px var(--color-3);
}
.titletextm {
    margin: 20px;
    color: var(--colorn-10);
}

#resumen {
    color: var(--color-10);
    border-style: solid;
    border-color: var(--color-3);
    border-width: 1px;
    margin: 40px;
    background-color: var(--color-2);
}
#conc1 {
    color: var(--color-10);
    border-style: solid;
    border-color: var(--color-3);
    border-width: 1px;
    background-color: var(--color-2);
}
#conc2 {
    color: var(--color-10);
    border-style: solid;
    border-color: var(--color-4);
    border-width: 1px;
    background-color: var(--color-3);
}
#conc3 {
    color: var(--color-10);
    border-style: solid;
    border-color: var(--color-2);
    border-width: 1px;
    background-color: var(--color-1);
}
#conclusion {
    display: flex;
    flex-direction: row;
}

footer {
    display: grid;
    color: var(--colorn-4);
    background-color: var(--colorn-10);
    padding: 100px;
    grid-template-columns: 2fr 1fr 1fr;
}
footer a {
    color: var(--colorn-4);
    text-decoration-line: none;
}
.icono img{
    width: 50px;
    filter: invert(56%) sepia(6%) 
    saturate(9%) hue-rotate(22deg) 
    brightness(95%) contrast(95%);

    font-weight: 100;
}
footer #bibliografia {
    grid-column: 1;
    grid-row:1;
}
footer #autores {
    grid-column: 2;
    grid-row:1;
}
footer #redes{
    grid-column: 3;
    grid-row:1;
}
footer #devweb{
    grid-column: span 3;
    grid-row: 2;
}