:root {
    --color-1: #110B11;
    --color-2: #3C896D;
    --color-3: #32715A;
    --color-4: #E9EDDE;
    --color-5: #EAF2EF;

    --icons-with: 50px;

    --principal-fonts: Arial;


}

* {
    font-family: var(--principal-fonts);
}

p {
    font-size: 16px;
}

header h1 {
    margin: 0px;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: var(--color-5);
    vertical-align: middle;
    padding: 15px;
    font-size: 40px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: repeat-y;
    background-size: cover;
    backdrop-filter: blur(5px) hue-rotate(40deg);
}

.titletext {
    margin: 20px;
    padding: 20px;
    background-color: var(--color-5);
    text-align: justify;
    border-radius: 5px;
}

#maininfo {
    display: flex
}

#metodologia {
    display: grid;
    grid-template-columns: 1fr , 1fr , 1fr;
}
.line {
    width: 1px;
    height: 700px;
    background-color: #4d4d4d54;
}
.line #n2 {
    grid-column: 2
}
.line #n4 {
    grid-column: 4
}
#conceptometodologia {
    grid-column: span 5;
    grid-row: 1;
    margin: 10px;
}
#metodologia .tecnica {
    grid-row: 2;
    margin: 10px;
}
.fuente {
    color: #4d4d4d81;
    font-size: 13px;
}
.fuente a {
    color: #4d4d4d81;
}
#metodologia .tecnica img {
    width: 25vw;
}
#metodologia #biobalistica {
    grid-column: 1
}
#metodologia #crispr {
    grid-column: 3
}
#metodologia #hibridacion {
    grid-column: 5
}

#final {
    display:flex;
}

.icono img {
    width: var(--icons-with);
}

footer {
    padding: 100px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-1);
    color: var(--color-5);
    gap:10px
}
footer a {
    color: var(--color-5)
}
footer #bibliografia{
    grid-column: 1;
}
footer #autores{
    grid-column: 2;
}
footer #redes{
    grid-column: 3;
}
footer #autorweb {
    grid-column: span 3;
    grid-row: 2;
}
footer #github {
    filter: brightness(0) invert(1);
}